<!DOCTYPE html>
<html lang="en">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"> </script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    {{ message }}
</div>
<div id="app2">
    <span v-bind:title="message">
        鼠标悬停查看动态绑定
    </span>
</div>
<div id = "app3">
    <ol>
        <li v-for = 'todo in todos'>
            {{todo.text}}
        </li>
    </ol>
</div>

    <div id="app5">
        <span id="span1" >{{message}}</span>
        <button v-on:click="resaleMessage">逆转消息</button>
    </div>

    <div id="app6">
        <span>{{message}}</span>
        <label>
            <input v-model="message">
        </label>

        <ol>
            <todo-item>aaa</todo-item>
            <todo-item>aaa</todo-item>
            <todo-item>aaa</todo-item>
        </ol>
    </div>
    <div id="app7">
        <idss-num v-for="item in list"
            v-bind:todo="item"
        ></idss-num>
    </div>


</body>
<script src="index.js"></script>
</html>